<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tech team on-going projects overview</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/w3.css">
  <script src="static/js/angular.min.js"></script>
</head>
<body>
  <div ng-app="Gitduck">

    <div class="w3-container" style="margin-top:3px" ng-controller="navbarController">
      <button style="margin:10px" ng-repeat="title in projectTitles" class="w3-btn w3-round-xxlarge w3-blue">{{ title }}</button>
    </div>

    <div ng-controller="MainController">
      <div class="w3-row">

        <div class="w3-col l3 w3-container" ng-repeat="(key, value) in issuesByMilestone">

          <h4 class="w3-container w3-teal text-center">{{ key }}</h4>

          <div style="overflow-y:auto height:100%">
            <div class="w3-card-2" ng-repeat="issue in value">
              <h6 class="w3-container w3-deep-orange">
                <a href="{{ issue.html_url }}">{{ issue.title }}</a>
              </h6>
              <p class="w3-container">{{ issue.body }}<span class="small w3-btn" ng-click="showModal(issue)">details</button>
                <span class="w3-tag w3-right w3-small w3-blue">{{ issue.assignee.login }}</span>
                </p>
            </div>
          </div>

        </div>

        <div ng-controller="ModalController">
          <div id="modal" class="w3-modal">
            <div class="w3-modal-content">
              <header class="w3-container w3-blue"><span ng-click="closeModal()" class="w3-closebtn">x</span><h2>Hi There {{ issue.title }}</h2></header>
              <div class="w3-container">
                <p>{{ issue.body }}</p>
              </div>
              <footer class="w3-container w3-blue">
                <p class="w3-right">Working by {{ issue.assignee.login }}</p>
              </footer>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script src="app/app.js"></script>
  <script src="app/services.js"></script>
  <script src="app/navbar/controller.js"></script>
  <script src="app/main/controller.js"></script>
  <script src="app/modal/controller.js"></script>
</body>
</html>
